@import 'Color.css';
.innerconatinerweather{
    display: flex;
    
}
.weatherdata{
    /* background-color: red; */
    color:var(--color-primary) !important ;
}
.weathermainContainer h2{
    margin: 25px;
    color: var(--color-primary)  !important;
 
}
.weathermainContainer button{
   background-color: var(--color-primary) !important;
   color: white;
   border: none;
}
.weathermainContainer button:hover{
transform: scale(1.1);
}
